@charset "UTF-08";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

:root {
    --font: 'Poppins', sans-serif;
    --azul: rgb(0, 0, 194);
    --preto: rgb(10, 10, 10);
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: var(--preto);
    color: white;
    font-family: var(--font);
    margin: auto;
    scroll-behavior: smooth;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#title {
    flex-direction: column;
    line-height: 30px;
    padding: 20px 20px 20px 70px;
}

h1 {
    font-weight: 300;
}

nav {
    padding-right: 70px;
}

nav > a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

a#destaque {
    border: 2px solid var(--azul);
    border-radius: 20px;
    padding: 10px;
}

nav > a:hover, nav > a:focus{
    color: var(--azul);
    transition: 0.3s;
}

a#destaque:hover, a#destaque:focus {
    background-color: var(--azul);
    color: white;
}


section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

aside {
    width: 42vw;
}

div#inscreva-se {
    line-height: 50px;
    padding-bottom: 10px;
}

h2 {
    font-size: 50px;
}

h2#titulo-destaque {
    color: var(--azul);
}

aside > p {
    line-height: 20px;
    text-align: justify;
}

form {
    display: flex;
    flex-direction: column;
}

form > p {
    padding-top: 30px;
    padding-bottom: 10px;
}

input[type="text"], input[type="email"] {
    border: none;
    border-radius: 20px;
    height: 25px;
    margin-top: 15px;
    padding: 10px;
    font-size: 15px;
    font-family: var(--font);
}

.grupo {
    margin-top: 15px;
}

#aplicacao, #selecionar, #tecnologias {
    display: flex;
    flex-direction: column;
}

select {
    border: none;
    border-radius: 20px;
    height: 25px;
    width: 97px;
    font-family: var(--font);
}

div#opcoes > label {
    padding-right: 10px;
}

button {
    background-color: var(--azul);
    color: white;
    border: none;
    border-radius: 20px;
    width: 200px;
    height: 45px;
    margin-top: 15px;
    font-size: 15px;
    font-family: var(--font);
    font-weight: bold;
}

button:hover {
    background-color: rgb(0, 0, 122);
}

input[type="text"]:focus, input[type="email"]:focus, select:focus {
    background-color: rgb(205, 205, 255);
}

img {
    width: 35vw;
}

footer {
    background-color: var(--azul);
    border-radius: 15px 15px 0px 0px;
    text-align: center;
}

footer > p {
    padding: 8px;
}

footer > p > a {
    text-decoration: none;
    color: white;
}

footer > p > a:hover {
    color: rgb(205, 205, 255);
    text-decoration: underline;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--azul);
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: var(--preto);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(0, 0, 122);
  }